<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"
    rel="stylesheet" crossorigin="anonymous">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script
    src=" https://cdn.jsdelivr.net/npm/socket.io@4.8.1/client-dist/socket.io.min.js ">
    </script>
  <title>Control</title>
</head>

<body>
  <nav class="navbar bg-primary">
    <div class="container">
      <a class="navbar-brand text-light" href="#"><strong>Workout Board <i class="bi bi-clipboard2-pulse-fill"></i></strong></a>
      <span id="connectionStatus"
        class="badge rounded-pill text-bg-danger fs-6 border border-white shadow-sm">Disconnected</span>
    </div>
  </nav>
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header fw-bold">
            Select Workout
          </div>
          <div class="card-body accordion" id="accordionWorkouts">
            {% for workout in workouts %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target='#collapse-{{workout["workout_id"]}}'>
                  {{ workout["workout_name"] }}
                </button>
              </h2>
              <div id='collapse-{{workout["workout_id"]}}'
                class="accordion-collapse collapse"
                data-bs-parent="#accordionWorkouts">
                <div class="accordion-body gap-2">
                  <div class="d-grid mb-3">
                    <button class="btn btn-lg btn-primary fw-semibold" type="button"
                      onclick="selectWorkout(this)"
                      data-workout-id='{{ workout["workout_id"] }}'>Load Workout
                    </button>
                  </div>

                  <h4><strong>Description</strong></h4>
                  <p>{{ workout["workout_description"] }}</p>

                  <hr>

                  <h4><strong>Workout</strong></h4>

                  {% for section in workout["sections"] %}
                  <div class="card mb-3">
                    <div class="card-header">
                      <strong>{{ section["section_name"] }}</strong>
                    </div>
                    <div class="card-body">
                      <table class="table"
                        style="table-layout: fixed; width: 100%;">
                        <thead>
                          <tr>
                            <th scope="col">Movement</th>
                            <th scope="col">Duration</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for movement in section["movements"] %}
                          <tr>
                            <td>{{ movement["movement_name"] }}</td>
                            <td>{{ movement["movement_duration"] }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% endfor %}

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col d-none" id="workoutControls">
        <div class="card">
          <div id="selectedWorkoutTitle" class="card-header fw-bold">
            <!-- Workout Title -->
          </div>
          <div class="card-body text-secondary">
            <div class="d-grid mb-3">
              <button class="btn btn-lg btn-success fw-semibold" type="button">Start <i
                  class="bi bi-play-fill"></i>
              </button>
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-lg btn-danger fw-semibold" type="button">Stop <i
                  class="bi bi-stop-fill"></i>
              </button>
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-lg btn-primary fw-semibold" type="button">Restart
                <i class="bi bi-arrow-clockwise"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var socket = io();
    const statusElement = document.getElementById('connectionStatus');

    // update status indicator on connection
    socket.on('connect', () => {
      statusElement.textContent = 'Connected';
      statusElement.classList.remove('text-bg-danger');
      statusElement.classList.add('text-bg-success');
    });

    // update status indicator on disconnection
    socket.on('disconnect', () => {
      statusElement.textContent = 'Disconnected';
      statusElement.classList.remove('text-bg-success');
      statusElement.classList.add('text-bg-danger');
    });

    // send workoutselected event to server
    function selectWorkout(e) {
      socket.emit('workoutselected', e.dataset.workoutId);
    }
    // listen to workoutselected event from server
    socket.on('workoutselected', (message) => {
      console.log(message);
      document.querySelector('#selectedWorkoutTitle').innerHTML = message.workout_name;
      document.querySelector('#workoutControls').classList.remove('d-none');
    });
  </script>
</body>

</html>